@import '~@redhat-cloud-services/frontend-components-inventory-insights/esm/Insights.css';

.pyDataList {
    height: 640px;
    overflow: scroll;
}
.halfSplit {
    max-width: 50%;
}
.overFlow{
    overflow: scroll
}
